@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h1>Tetris</h1>

@if (State.Value.Game is null)
{
    <span>Loading...</span>
}
else
{
    <h3>Score: <span id="score">0</span></h3>
    <button id="start-button">start/pause</button>

    <div class="grid">
        @foreach (var square in State.Value.Game.Squares!)
        {
            <div class="@(square.IsTetromino ? "tetromino" : "") @(square.IsFrozen ? "frozen" : "")"></div>
        }
    </div>
}
